<article id="contact" class="page type-page status-publish hentry">
    <header class="entry-header">
        <h2 class="entry-title">{% if page.lang == 'pl' %}Kontakt{% else %}Contact{% endif %}</h2>
    </header>
    <div class="entry-content" style="text-align: justify;">
        <h3>Agent:</h3>

        <h4>Alina Wodnicka</h4>
        <p>e-mail: <a href="mailto:agentur.wodnicka@googlemail.com">agentur.wodnicka@googlemail.com</a></p>
        <p>tel: <a href="tel:+4942120539409">+49 (0) 421 205 39 409</a></p>
        <p>kom: <a href="tel:+491702838561">+49 (0) 170 28 38 561</a></p>

        <h3>{% if page.lang == 'pl' %}Bezpośrednio{% else %}Directly{% endif %}:</h3>
        <h4>Sonia Warzyńska-Dettlaff</h4>
        <p>e-mail: <a href="mailto:contact@soniawarzynska.com">contact@soniawarzynska.com</a></p>
    </div>
</article>