{% for event in site.events %}

<h4>{{ event[1].title[page.lang] }}</h4>
<p>{{ event[1].date }} - {{ event[1].place[page.lang] }}</p>

{% if event[1].url != "" %}
  <a href="{{ event[1].url }}" target="_blank">
      {% if page.lang == 'pl' %}Zobacz więcej ... {% else %}See more ...{% endif %}
  </a>
{% endif %}

{% if event[1].tickets != "" %}
  <a href="{{ event[1].tickets }}" target="_blank">
      {% if page.lang == 'pl' %}Kup bilety{% else %}Buy tickets{% endif %}
  </a>
{% endif %}

{% if forloop.last == false %}
<hr>
{% endif %}

{% endfor %}