<article id="contact" class="page type-page status-publish hentry">
    <header class="entry-header">
        <h2 class="entry-title">{% if page.lang == 'pl' %}Kontakt{% else %}Contact{% endif %}</h2>
    </header>
    <div class="entry-content" style="text-align: justify;">
        <h3>Agent:</h3>

        <h4>Alina Wodnicka</h4>
        <p>e-mail: agentur.wodnicka@googlemail.com</p>
        <p>tel: +49 (0) 421 205 39 409</p>
        <p>kom: +49 (0) 170 28 38 561</p>

        <h3>{% if page.lang == 'pl' %}Bezpośrednio{% else %}Directly{% endif %}:</h3>
        <h4>Sonia Warzyńska-Dettlaff</h4>
        <p>e-mail: contact@soniawarzynska.com</p>
    </div>
</article>