{% for event in site.events %}

<h3>{{ event[1].title[page.lang] }}</h3>


{% if event[1].url != "" %}
  <a href="{{ event[1].url }}" target="_blank">
    {{ event[1].date }} - {{ event[1].place[page.lang] }}
  </a>
{% else %}
  <p>
    {{ event[1].date }} - {{ event[1].place[page.lang] }}
  </p>
{% endif %}

{% if event[1].tickets != "" %}
  <a href="{{ event[1].tickets }}" target="_blank">
      {% if page.lang == 'pl' %}Kup bilety{% else %}Buy tickets{% endif %}
  </a>
{% endif %}

{% if forloop.last == false %}
<hr>
{% endif %}

{% endfor %}