                 <article id="post-278" class="post-278 page type-page status-publish has-post-thumbnail hentry">
                    <header class="entry-header">
                        <h1>{{ site.gallery[page.galleryname].title[page.lang] }}</h1>
                    </header>
                    <div class="entry-content">
                        <p>{{ site.gallery[page.galleryname].desc[page.lang] }}</p>
                    </div>
                </article><!-- #post-278 -->


                 {{ site.gallery[page.galleryname].images }}
