{% include header.html %}

<div id="page" class="site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

    <header id="masthead" class="site-header" role="banner">

        <div class="header-top">
            <div class="wrap">
                <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">
                    <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">Menu</button>
                    <div class="menu-main-menu-container"><ul id="top-menu" class="menu nav-menu" aria-expanded="false"><li id="menu-item-262" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-262"><a href="/">Home</a></li>
                        <li id="menu-item-280" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-280"><a href="https://lodestardemo.wordpress.com/work/?demo">Work</a></li>
                        <li id="menu-item-205" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-205"><a href="/testimonial">Praise</a></li>
                        <li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="https://lodestardemo.wordpress.com/news/?demo">News</a></li>
                        <li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-114" aria-haspopup="true"><a href="https://lodestardemo.wordpress.com/html-elements/?demo">Styles</a>
                            <ul class="sub-menu">
                                <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="https://lodestardemo.wordpress.com/readability/?demo">Readability</a></li>
                                <li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-115" aria-haspopup="true"><a href="https://lodestardemo.wordpress.com/a-parent-page/first-child/?demo">First Child</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="https://lodestardemo.wordpress.com/a-parent-page/second-child/a-grandchild-page/?demo">A Grandchild Page</a></li>
                                        <li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120"><a href="https://lodestardemo.wordpress.com/a-parent-page/second-child/another-grandchild-page/?demo">Another Grandchild Page</a></li>
                                        <li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="https://lodestardemo.wordpress.com/a-parent-page/second-child/a-spoiled-grandchild-page/?demo">A Spoiled Grandchild Page</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="https://lodestardemo.wordpress.com/a-parent-page/second-child/?demo">Second Child</a></li>
                            </ul>
                        </li>
                    </ul></div></nav><!-- #site-navigation -->
                <div class="site-top-content">
                    <span class="site-top-content-1">Call for Estimate</span><span class="site-top-content-2">123-456-7890</span>	</div>
            </div>
        </div><!-- .header-top -->


        <div class="custom-header" style="margin-top: auto;">

            <div class="custom-header-image"
                 style="background-image: url(file:///F:/sonia/lodestar-wpcom/assets/images/header.jpg); margin-top: 88px;">
                <div class="site-branding">
                    <div class="wrap">


                        <p class="site-title"><a href="https://lodestardemo.wordpress.com/?demo" rel="home">Lodestar</a></p>

                        <p class="site-description">a trendy theme for your startup or business venture</p>

                    </div><!-- .wrap -->
                </div><!-- .site-branding -->
            </div>


        </div><!-- .custom-header -->

    </header>

    <div id="content" class="site-content">


        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">

                <div class="wrap"><article id="post-106" class="lodestar-intro post-106 page type-page status-publish has-post-thumbnail hentry">

                    <div class="entry-content">
                        <p>The content of your Static Front Page is displayed here. This is a great place to add your “call to action” with a brief message. The image above&nbsp;this text is added as a featured image.</p>
                    </div>
                </article><!-- #post-## -->
                </div>

                <article id="post-124" class="lodestar-panel two-column post-124 page type-page status-publish has-post-thumbnail hentry">

	<span class="panel lodestar-panel1" id="panel1">
		<span class="lodestar-panel-title">Panel 1</span>
	</span>


                    <div class="panel-image" style="background-image: url(https://lodestardemo.files.wordpress.com/2016/06/pexels-photo-94578.jpeg?w=2000&amp;h=1200&amp;crop=1);">
                        <div class="panel-image-prop" style="padding-top: 60%"></div>
                    </div>


                    <div class="panel-content">
                        <div class="wrap">
                            <header class="entry-header">
                                <h2 class="entry-title">About Our Company</h2>

                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value.</p>
                                <p>Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
                                <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
                                <p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric “outside the box” thinking.</p>
                            </div><!-- .entry-content -->


                        </div><!-- .wrap -->
                    </div><!-- .panel-content -->

                </article><!-- #post-## -->

                <article id="post-127" class="lodestar-panel one-column post-127 page type-page status-publish has-post-thumbnail hentry">

	<span class="panel lodestar-panel2" id="panel2">
		<span class="lodestar-panel-title">Panel 2</span>
	</span>


                    <div class="panel-image" style="background-image: url(https://lodestardemo.files.wordpress.com/2016/06/pexels-photo-57690.jpeg?w=2000&amp;h=1200&amp;crop=1);">
                        <div class="panel-image-prop" style="padding-top: 60%"></div>
                    </div>


                    <div class="panel-content">
                        <div class="wrap">
                            <header class="entry-header">
                                <h2 class="entry-title">Our Services</h2>

                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <h3>Branding</h3>
                                <p>Our team of talented designers can create&nbsp; beautiful logo and brand to encapsulate your business purpose and goals.</p>
                                <h3>Web Design</h3>
                                <p>Need a website? We’ve got you covered. Our design team will work to transform your brand into a stunning site design.</p>
                                <h3>Web Development</h3>
                                <p>We have a large team of developers to bring your vision to life. Whether you need a landing page or a WordPress site, our brilliant developers have got you covered.</p>
                                <h3>Content Strategy</h3>
                                <p>Need help putting together content for your website? We can help. Our team of content strategists will get your site on track.</p>
                                <h3>Marketing and SEO</h3>
                                <p>Any good site needs to be found. We can put together marketing campaigns to get you lots of new customers, and attract leads through search engine optimization.</p>
                                <h3>Video Production</h3>
                                <p>Putting together a video ad for your business? We can help you shoot, produce, edit, and release it.</p>
                            </div><!-- .entry-content -->


                        </div><!-- .wrap -->
                    </div><!-- .panel-content -->

                </article><!-- #post-## -->

                <article id="post-142" class="lodestar-panel two-column post-142 page type-page status-publish has-post-thumbnail hentry">

	<span class="panel lodestar-panel3" id="panel3">
		<span class="lodestar-panel-title">Panel 3</span>
	</span>


                    <div class="panel-image" style="background-image: url(https://lodestardemo.files.wordpress.com/2016/06/pexels-photo-92957.jpeg?w=2000&amp;h=1200&amp;crop=1);">
                        <div class="panel-image-prop" style="padding-top: 60%"></div>
                    </div>


                    <div class="panel-content">
                        <div class="wrap">
                            <header class="entry-header">
                                <h2 class="entry-title">Location &amp; Contact</h2>

                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <div class="googlemaps"><iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.2569182888265!2d-122.39952624921422!3d37.78401837965839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085807c23cc4ebb:0x108059532273706!2sAutomattic!5e0!3m2!1sen!2sus!4v1468255913108"></iframe></div>
                                <h3>Location</h3>
                                <p>123 Startup Lane<br>
                                    Floor 3, Unit C<br>
                                    Profit, MA</p>
                                <h3>Contact</h3>
                                <p>info@lodestar.com</p>
                                <p>Get an estimate today!<br>
                                    (123) 456-7890</p>
                            </div><!-- .entry-content -->


                        </div><!-- .wrap -->
                    </div><!-- .panel-content -->

                </article><!-- #post-## -->
                <article class="lodestar-panel panel-placeholder"><span class="panel lodestar-panel4 label-placeholder" id="panel4"><span class="lodestar-panel-title">Panel 4 Placeholder</span></span></article>

            </main><!-- #main -->
        </div><!-- #primary -->


    </div>

    <div class="footer-image lodestar-panel  has-footer-image" style="background-image: url( https://lodestardemo.files.wordpress.com/2016/06/desk-ruler-designer-chair.jpeg )">
			<span class="panel lodestar-footer-settings">
				<span class="lodestar-panel-title">Footer Image</span>
			</span>
    </div>

    <footer id="colophon" class="site-footer" role="contentinfo">
        <nav class="jetpack-social-navigation jetpack-social-navigation-svg" role="navigation" aria-label="Social Links Menu">
            <div class="menu-social-menu-container"><ul id="menu-social-menu" class="menu"><li id="menu-item-150" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="http://facebook.com"><span class="screen-reader-text">Facebook</span><svg class="icon icon-facebook" aria-hidden="true" role="img"> <use href="#icon-facebook" xlink:href="#icon-facebook"></use> </svg></a></li>
                <li id="menu-item-151" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="http://www.twitter.com"><span class="screen-reader-text">Twitter</span><svg class="icon icon-twitter" aria-hidden="true" role="img"> <use href="#icon-twitter" xlink:href="#icon-twitter"></use> </svg></a></li>
                <li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="http://linkedin.com"><span class="screen-reader-text">LinkedIn</span><svg class="icon icon-linkedin" aria-hidden="true" role="img"> <use href="#icon-linkedin" xlink:href="#icon-linkedin"></use> </svg></a></li>
                <li id="menu-item-153" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-153"><a href="http://instagram.com"><span class="screen-reader-text">Instagram</span><svg class="icon icon-instagram" aria-hidden="true" role="img"> <use href="#icon-instagram" xlink:href="#icon-instagram"></use> </svg></a></li>
            </ul></div>		</nav><!-- .jetpack-social-navigation -->

        <div class="site-info">
            <div class="wrap">
                <a href="https://wordpress.com/?ref=footer_blog">Blog at WordPress.com.</a>

            </div><!-- .wrap -->
        </div><!-- .site-info -->
    </footer>
</div><!-- #page -->
<!--  -->
<script type="text/javascript" src="//0.gravatar.com/js/gprofiles.js?ver=201849y"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var WPGroHo = {"my_hash":""};
    /* ]]> */
</script>
<script type="text/javascript" src="https://s1.wp.com/wp-content/mu-plugins/gravatar-hovercards/wpgroho.js?m=1380573781h"></script>

<script>
    //initialize and attach hovercards to all gravatars
    jQuery( document ).ready( function( $ ) {

        if (typeof Gravatar === "undefined"){
            return;
        }

        if ( typeof Gravatar.init !== "function" ) {
            return;
        }

        Gravatar.profile_cb = function( hash, id ) {
            WPGroHo.syncProfileData( hash, id );
        };
        Gravatar.my_hash = WPGroHo.my_hash;
        Gravatar.init( 'body', '#wp-admin-bar-my-account' );
    });
</script>

<div style="display:none">
</div>
<script type="text/javascript" src="https://s2.wp.com/_static/??-eJyVkN1qwzAMhV9onllLKb0YexYlVh3F8s8sOenefu5F6cigkAuBOEff4SC7FjPmpJjUzmIdLjRiub3P8mb/WLGZws1TEssUUOx3w4YTJMdYt8ePS/lJCreJ/MR9FOt/ZYvqhLGnlzZYzg5FoVoQQZV7uwQLeVDKaR/nOQ/A+xgJVAxTCuaaxybmSq+espLzdxBbd3MgNAyrVYyFQXGjv8gBFymZoTeJIP0/fTN5wVqpF3xqOxO0whikQ1/x8+N0PFzOh+PlPP8C3xy/jg=="></script><div class="widget widget_eu_cookie_law_widget" style="display: block;"><div class="hide-on-button ads-active" data-hide-timeout="30" data-consent-expiration="180" id="eu-cookie-law">
    <form method="post">
        <input type="submit" value="Close and accept" class="accept">

        Privacy &amp; Cookies: This site uses cookies. By continuing to use this website, you agree to their use. <br>
        To find out more, including how to control cookies, see here:
        <a href="https://automattic.com/cookies">
            Cookie Policy		</a>
    </form>
</div>
</div>

<!-- header -->
    
    <header class="container">    								      
      <div class="row">
        <div class="col-md-12">
          <h1 class="logo"><a href="/">Sonia Warzyńska-Dettlaff</a></h1>
        </div>
      </div>
      <div class="row">
{% include menu.html %}        
      </div>
    </header>

<!-- content -->

    <div class="container" id="content">   
      <div class="row">
        <div class="col-md-6 content">
{{ content }}
        </div>
      </div>
    </div>
    
<!-- footer -->

    <footer class="container">
        <div class="row">
          <div class="col-md-6">          
            <address class="personal"> 
              <strong><a href="http://soniawarzynska.com"    title="Website">Sonia Warzyńska-Dettlaff</a></strong><br>
              <a href="mailto:contact@soniawarzynska.com"    title="Email">contact@soniawarzynska.com</a><br>
              <a href="https://maps.google.pl/maps?q=Poland" title="Adress" target="_blank">Poland</a><br>
            </address>        
            <div class="social">     
              <a href="https://twitter.com/sonia_warzynska"           title="Twitter"     target="_blank"><img src="/p/ico/twitter.png"    alt="Follow Sonia on Twitter" /></a>
              <a href="https://facebook.com/soniawarzynskasopran"     title="Facebook"    target="_blank"><img src="/p/ico/facebook.png"   alt="Like Sonia on Facebook" /></a>
              <a href="https://plus.google.com/+SoniaWarzynskaSopran" title="Google Plus" target="_blank"><img src="/p/ico/googleplus.png" alt="Follow Sonia on Google Plus" /></a>
              <a href="https://youtube.com/soniawarzynskasopran"      title="YouTube"     target="_blank"><img src="/p/ico/youtube.png"    alt="Subscribe Sonia on YouTube" /></a>
              <a href="https://www.instagram.com/sonia.warzynska/"    title="Instagram"   target="_blank"><img src="/p/ico/instagram.png"  alt="Subscribe Sonia on Instagram" /></a>
            </div>
          </div>
        </div>
    </footer>

<!-- js -->

    <!--<script src="/p/js/bootstrap.min.js"></script>-->

    <script>
        $(document).ready(function() {
            $(window).on('resize', function() {
                var container_width = $('#fb-container').width();
                $('#fb-container div.fb-page').attr('data-width', container_width);
                FB.XFBML.parse();
            });
        });
    </script>

{% include footer.html %}